@font-face {
  font-family: 'crayoneregular';
  src: url('fonts/crayone-webfont.eot');
  src: url('fonts/crayone-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/crayone-webfont.woff2') format('woff2'),
       url('fonts/crayone-webfont.woff') format('woff'),
       url('fonts/crayone-webfont.ttf') format('truetype'),
       url('fonts/crayone-webfont.svg#crayoneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
}
